.app.dark {
    --bg-color: rgb(0, 0, 123);
    --inverted-bg-color: rgb(232, 232, 232);

    --primary-color: green;
    --secondary-color: rgb(0, 202, 0);
    --inverted-primary-color: rgb(0, 49, 164);
    --inverted-secondary-color: rgb(69, 131, 253);
}