:root {
    --bg-color: rgb(232, 232, 232);
    --inverted-bg-color: rgb(0, 0, 123);

    --primary-color: rgb(0, 49, 164);
    --secondary-color: rgb(44, 113, 250);
    --inverted-primary-color: green;
    --inverted-secondary-color: rgb(0, 202, 0);
}